<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reservas-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reservas-list</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item *ngFor="let r of reservas; let i = index">
  <ion-label>
    <h2>{{r.nome}}</h2>
    <p>{{r.data | date:'dd/MM/yyyy'}} às {{r.hora | date:'HH:mm'}}, para {{r.pessoas }} pessoas</p>
    <p>  </p>
  </ion-label>
  <ion-button fill="clear" color="primary" (click)="editar(i)">
    Editar
  </ion-button>

  <ion-button fill="clear" color="danger" (click)="excluir(i)">
    Excluir
  </ion-button>
</ion-item>

</ion-content>
